body {
    background-color: rgb(20,20,30);
    color: rgb(210,210,210);

    font-family: "Verdana", "Helvetica", "Comic Sans", "sans-serif";
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(80,80,120);
}

p {
    text-align: center;
}

.weather-boxes {
    background-color: rgb(40,40,60);
}

.current {
    background-color: rgb(60,60,90);
}

.cityButton {
    background-color: rgb(150,150,150);
}